/* ==================================== */
/* css pour la page de liste des topics */
/* ==================================== */

body {
    display: grid;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px auto 1fr auto 100px;

    grid-template-areas:
        "header header header header"
        "nav nav nav nav"
        "topics topics topics topics"
        "page page page page"
        "footer footer footer footer";

    row-gap: 10px;
}

/* ====================== */
/* modification du header */
/* ====================== */
header {
    grid-area: header;
}

.logo {
    width: 65%;
    height: 100%;
}

.connexion {
    display: flex;
    flex-direction: column;

    justify-content: space-around;
    align-content: center;
    width: 35%;
    height: auto;
}

/* ================== */
/* modif de la navbar */
/* ================== */
nav{
    grid-area: nav;
}

/* ========================== */
/* modification de la liste  */
/* ========================== */
#liste-des-topics {
    grid-area: topics;
}

.page {
    grid-area: page;
    width: 100px;

    justify-self: center;
}

/* ====================== */
/* modification du footer */
/* ====================== */
footer {
    grid-area: footer;
}