/* ===================================== */
/* css pour la page de liste sous sujets */
/* ===================================== */

body {
    display: grid;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px auto 1fr 100px;

    grid-template-areas:
        "header header header header"
        "nav nav nav nav"
        "sousSujets sousSujets sousSujets sousSujets"
        "footer footer footer footer";

    row-gap: 10px;
}

/* ====================== */
/* modification du header */
/* ====================== */
header {
    grid-area: header;
}

.logo {
    width: 65%;
    height: 100%;
}

.connexion {
    display: flex;
    flex-direction: column;

    justify-content: space-around;
    align-content: center;
    width: 35%;
    height: auto;
}

/* ================== */
/* modif de la navbar */
/* ================== */
nav{
    grid-area: nav;
}

/* ========================== */
/* modification sur la liste  */
/* ========================== */
#liste-des-sous-sujets {
    grid-area: sousSujets;
}

/* ====================== */
/* modification du footer */
/* ====================== */
footer {
    grid-area: footer;
}