/* ============================== */
/* modification generale du style */
/* ============================== */

body {
    background-color: slategrey;
    text-align: center;
}

img {
    height: 100%;
    width: auto;
}

/* ====================== */
/* modification du header */
/* ====================== */
header {
    display: flex;
    flex-direction: row;
}

.logo {
 
}

.connexion {

}

/* ========================================= */
/* modification de la partie popular topics  */
/* ========================================= */
#popular-topics {
  
}

.list-group-item {
    /* background-color: transparent; */
}

/* =================================== */
/* modification de la liste des sujets */
/* =================================== */
#liste-des-sujets {
    
}

/* ====================== */
/* modification du footer */
/* ====================== */
footer {
   
}